<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Expense</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let expense of expenses">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ expense.name }}</h4>
          <p class="list-group-item-text">{{ expense.description }}</p>
          <p class="list-group-item-text">{{ expense.amount }}</p>
        </div>
        <span class="pull-right">
          <img
            [src]="expense.imagePath"
            alt="{{ expense.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span>
      </a>
      <app-expenses-item></app-expenses-item>
    </div>
  </div>
  
  